<div class="card-columns">

    <div *ngFor="let item of items | async" class="card" type="button" data-toggle="modal" [attr.data-target]="'#' + item.id">
      <img [src]="item.url" class="card-img-top">
          <pre>{{item[0]}}</pre>
    </div>

    <div *ngFor="let item of items | async" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
      <div [id]="item.id" class="modal-dialog modal-lg">
        <div class="modal-content">
            <img [src]="item.url" class="card-img-top">
        </div>
      </div>
    </div>

</div>
