<div class="container-fluid">
  <div class="row">
    <nav class="navbar flex-column col-3">
      <a class="navbar-brand" href="#">Victor Photos</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav flex-column">
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" routerLink="fotos">Fotos</a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" routerLink="carga">Cargar fotos</a>
            </li>
        </ul>
      </div>
      <div class="cloud-tags">
          <span class="badge badge-secondary">text</span>
          <span class="badge badge-secondary">text</span>
          <span class="badge badge-secondary">text</span>
          <span class="badge badge-secondary">text</span>
          <span class="badge badge-secondary">text</span>
          <span class="badge badge-light">selected</span>
      </div>
    </nav>
    <div class="container main-container col-9">
        <router-outlet></router-outlet>
    </div>
  </div>
</div>
