<div class="row">

  <div class="col-md-4">
    <h3>Select files</h3>
    <div appNgDropFiles [archivos]="archivos" (mouseSobre)="estaSobreElemento = $event" appNgDropFiles class="well drop-zone" [ngClass]=" { 'file-over': estaSobreElemento } ">
      <h4>drop files</h4>
      <img src="assets/drop-images.png" >
    </div>
  </div>

  <div class="col-md-8">
    <h4>Upload Files</h4>
    <button (click)="cargaImagenes()" [disabled]="archivos.length==0" class="btn btn-success">Upload to Firebase</button>
    <button (click)="limpiarArchivos()" class="btn btn-danger">Clear</button>

    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th>Name</th>
          <th>Tags</th>
          <th>Size</th>
          <th>Progress</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let archivo of archivos">
          <td [ngClass]="{ 'text-green': archivo.progreso >= 100 }">{{ archivo.nombreArchivo }}</td>
          <td><input name="tags" ngModel type="text" class="form-control tags" value="" placeholder="Enter tags ..."></td>
          <td>{{ archivo.archivo.size  / 1024 / 1024 | number: '.2-2' }} MB</td>
          <td>
            <div class="progress">
              <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" [ngStyle]="{ 'width': archivo.progreso + '%'}" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </td>
        </tr>
      </tbody>

    </table>
  </div>

</div>
